<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= @user.first_name %> <%= @user.last_name %></h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
<div class="card border-warning mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
    <p class="card-text">Description: <br /><%= @user.description %></p>
  </div> 
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Age: <%= @user.age %> ans</li>
    <li class="list-group-item">Email: <%= @user.email %></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Ville: <%= link_to "#{@user.city.name}", city_path(@user.city.id) %></a>
  </div>
</div>
</div>


